fastapi==0.78.0
uvicorn[standard]==0.17.6
gunicorn==20.1.0
asyncpg==0.25.0
tortoise-orm[asyncpg]==0.19.1
python-dotenv==0.20.0
aerich==0.6.3
aiokafka==0.7.2
elasticsearch[async]==7.10.0
fastapi-pagination[tortoise]==0.9.3
python-jose==3.3.0
httpx[http2]==0.22.0
redis==4.3.1
botocore==1.26.5
boto3[crt]==1.23.5
boto3-stubs[essential]==1.23.5
pycryptodome==3.14.1
starlette-context==0.3.3
starlette-prometheus==0.9.0
opentelemetry-api==1.11.1
opentelemetry-sdk==1.11.1
opentelemetry-exporter-jaeger==1.11.1
opentelemetry-propagator-b3==1.11.1
opentelemetry-instrumentation-asyncpg==0.31b0
opentelemetry-instrumentation-fastapi==0.31b0
opentelemetry-instrumentation-httpx==0.31b0
opentelemetry-instrumentation-redis==0.31b0

